body {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

td {
  padding-top: 0px;
padding-right: 80px;
padding-bottom:0px;
padding-left: 80px;
font-size: 50px;

}

.top-container {
  background-color: #eeeeee;
  margin-bottom: 30px;
}

.middle-container {
  padding-top: 40px;
  padding: auto;
}

.bottom-container {
  background-color: #eeeeee;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: opx;
  color: #3f72af;

}

.family {
margin-top: 0px;
margin-left: 300px;
}

.car {
margin-top: 20px;
margin-left: 300px;
}

.computer {
margin-top: 20px;
margin-left: 300px;
margin-bottom: 70px;
}

.logo {
background-color: #eeeeee;
margin-left:0px;
height: 100px;
width: 400px;
}

.cont {
  padding: 30px;
  font-size: 30px;
}
.change {
  font-family:sans-serif;
}
